.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.game__wrapper {
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.game__items {
  /* flex: 20%; */
  width: 300px;
  padding: 20px;
  background: #212833;
  border: 1px solid #2c343e;
  border-radius: 5px;
  box-shadow: 0 8px 25px 3px rgb(0 0 0 / 21%);
}
.game__input {
  margin: 15px 0 0 0;
  background-color: #19202b;
  height: 32px;
  color: #d0d7e0;
  font-size: 13px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #0b1421;
  border-bottom: 1px solid #303742;
  border-radius: 3px;
  padding: 0 7px 2px;
  line-height: 12px;
  width: 100%;
  background-image: none;
  letter-spacing: 2px;
}
.game__button {
  background-color: #353f4c;
  height: 32px;
  color: #d9e1e9;
  font-size: 12px;
  border-radius: 5px;
  padding: 3px 7px 2px;
  line-height: 12px;
  width: 100%;
  width: 100px;
  cursor: pointer;
  border: 0 solid;
  border-bottom: 1px solid #18202c;
  font-weight: 600;
  margin: 50px 0 0 0;
}
.game__items.game__df {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game_validate {
  color: red;
  margin: 10px 0 0 0;
}
.game__icon {
  width: 50px;
}

.game__advice {
  margin: 10px 0;
}
